<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2126519319535781"
     crossorigin="anonymous"></script>
     
<style>
.product-wrapper {
    display: flex;
    border: 1px solid grey;
    border-radius: 5px;
}
.product-img {
    box-shadow: none !important;
    margin-left: 16px;
    flex: 1;
    width: auto;
    height: 100%;
    max-height: 100%;
}
.product-desc {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 16px;
    padding-left: 20px;
}
.product-headline {
    margin: 0 !important;
}
.product-spacer {
    flex: 1;
}
.product-stars {
    text-align: right;
}
.product-stars > div {
    margin-bottom: 10px;
}
.product-cta {
    width: 100%;
    padding: 10px;
    background-color: #feb300;
    color: #111;
    text-align: center;
    border-radius: 5px;
}


.logo-wrapper {
    display: flex;
    margin: auto;
    margin-top: 25px;
}

.logo-img {
    margin-top: 20px;
    height: 100px;
    flex: 1;
}

.logo-img > img {
    height: auto;
    width: auto;
    max-height: 100%;
}

.logo {
    flex: 4;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
